snippet w "temp" b
print("$1: ", self.$1)
$0
endsnippet

snippet db "to debug code fast" b
print(f"variable $1: {$1}")
$0
endsnippet

snippet interact "interactive mode" b
import code; code.interact(local=dict(globals(), **locals()))
$0
endsnippet
