snippet temp "Description" 
$1 = bounds[$2][0] + np.random.rand()*bounds[$2][1]
$0
endsnippet

snippet t "temp" b
print("$1: ", self.$1)
$0
endsnippet

snippet db "to debug code fast" b
print(f"variable $1: {$1}")
$0
endsnippet

