snippet temp "Description" 
$1 = bounds[$2][0] + np.random.rand()*bounds[$2][1]
$0
endsnippet

snippet t "temp" b
x = np.array([${1:1}, ${2:2}])
y = np.array([${3:1}, ${4:2}])
X, Y = np.meshgrid(x, y)
ax.plot_surface(X, Y, Z, facecolors=colors[self.state['$5']],
                **params)
$0
endsnippet
